@import "tailwindcss";

:root {
  --background: #60A5FA;
  --text: #000000;
  --accent: #1d9bf0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}


[data-theme='dark'] {
  --background: #000000;
  --text: #ffffff;
  --accent: #1d9bf0;
}
  
.no-select {
  user-select: none;
  -webkit-user-drag: none; 
  -webkit-touch-callout: none;
}
