@import "tailwindcss";

:root {
  /* Default Light Theme Variables */
  --background: #60A5FA;
  --text: #000000;
  --accent: #1d9bf0; /* Social Media Blue */
}

[data-theme='dark'] {
  /* Dark Theme Variables */
  --background: #000000;
  --text: #ffffff;
  --accent: #1d9bf0;
}
  
.no-select {
  user-select: none;
  -webkit-user-drag: none; 
  -webkit-touch-callout: none;
}
