@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .border-twitter {
    border-color: #474747; 
  }

  .border-t-twitter {
    border-top: 1px solid #474747;
  }

  .border-b-twitter {
    border-bottom: 1px solid #474747;
  }

  .border-l-twitter {
    border-left: 1px solid #474747;
  }

  .border-r-twitter {
    border-right: 1px solid #474747;
  }
}
